<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <table>
        <tr>
            <td>Name</td>
            <td th:text="${theJob.name}"></td>
        </tr>
        <tr>
            <td>Employer</td>
            <td th:text="${theJob.employer}"></td>
        </tr>
        <tr>
            <td>Location</td>
            <td th:text="${theJob.location}"></td>
        </tr>
        <tr>
            <td>Skill</td>
            <td th:text="${theJob.coreCompetency}"></td>
        </tr>
        <tr>
            <td>Position Type</td>
            <td th:text="${theJob.positionType}"></td>
        </tr>

    </table>


</div>

</body>
</html>